@import './base.scss';

@import './gap.scss';
@import './ext.scss';
@import './mobile.scss';

.login-box,
.sign-box {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.reset-pwd-box {
  width: 300px;
  margin-top: calc(30% - 120px);
  margin-left: auto;
  margin-right: auto;
}
.reset-pwd-box-title {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #666;
  border-bottom: 1px solid #ddd;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.dept-manange {
  padding-bottom: 32px;
}
.dept-nav {
  line-height: 40px;
  &-item {
    font-size: 16px;
    margin-right: 16px;
    cursor: pointer;
    &.active {
      color: #2d8cf0;
    }
  }
}